<!DOCTYPE html>
<html lang="{{ _lang }}" dir="{{ _dir }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>Blog</title>
    <script src="/scripts.min.js" defer></script>
    <link rel="stylesheet" href="/style.min.css">
    <link rel="stylesheet" href="/scripts.min.css">
</head>

<body>

    <header>
        <h1>My Awesome Blog</h1>
    </header>

    <main>
        <div role="list" class="flex flex-col gap-4">
            {{ range .Posts }}
            <div role="listitem" class="flex flex-col gap-1">
                <h2 class="text-2xl">
                    <a href="/posts/{{ .Slug }}">{{ .Title }}</a>
                </h2>
                <div class="text-sm italic">{{ formatTime .CreatedAt "Jan _2, 2006" }}</div>
                <div>
                    {{ .Excerpt }}
                </div>
            </div>
            {{ end }}
        </div>
    </main>

    <footer>
        <div class="inline-flex">
            Made with <span class="as-icon size-6 mx-1">{{ template "mdi-language-go.svg" }}</span>
        </div>
    </footer>
</body>

</html>