<!DOCTYPE html>
<html>

<head>
    <title>Blog</title>
</head>

<body>

    <h1>My Awesome Blog</h1>

    <div>
        {{ range .Posts }}
        <div>
            <h2>{{ .Title }}</h2>
            <div>{{ .Date }}</div>
            <div>
                {{ .Content }}
            </div>
        </div>
        {{ end }}
    </div>

</body>

</html>