<!DOCTYPE html>
<html lang="{{ _lang }}" dir="{{ _dir }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>Blog</title>
    <script src="/scripts.min.js" defer></script>
    <link rel="stylesheet" href="/style.min.css">
    <link rel="stylesheet" href="/scripts.min.css">
</head>

<body>